html
    head
        style
            include ./styles.css
        title simple template

        body

            include ./header.pug
                h2 i am main content
                div.testDiv show me the CSS
                include ./footer.pug