doctype html
html
    head
        title="hello Index"
        body
            p.greetings#people Hello People
            h1 hi this is h1 tag

            div.myClass
                | to insert multiple lines,
                | lines continue

                div.
                    tes test test test...
                //This is comment
            div.container(width="100",height="100",color="red",border="solid 1px" ) some text is good